/* *{outline: dotted 1px red;
} */

/* Header nav bar */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  z-index: 10;
}

nav > ul > li {
  background-color: rgb(102, 15, 15);
  border-radius: 4px;
  box-align: left;
  color: white;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  list-style-type: none;
  margin: 0px 10px 0px 0px;
  padding: 10px 13px;
}

.top-header {
  background-color: rgb(243, 217, 225);
  background-image: -webkit-linear-gradient(#fae8ed, #e59daf);
  grid-template-columns: auto;
  min-width: 800px;
  padding: 10px;
}

.pageHeader {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.logo {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.title {
  grid-column: 2 / span 19;
  grid-row: 1;
  position: fixed;
  margin-left: 190px;
  min-width: 500px;
}

.nav-bar {
  grid-column: 1 / span 20;
  grid-row: 2 / span 2;
}

.pageName {
  position: fixed;
}

#logo {
  padding: 15px;
  width: 140px;
}

/* Main section starts */
main {
  margin: 200px 40px;
}

.welcome {
  color: rgb(102, 15, 15);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  max-width: 800px;
  text-align: center;
}

.store-locations {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  padding: 10px;
  position: absolute;
}

.locations {
  display: inline-block;
  width: 150px;
}

#chinook {
  display: inline-block;
  height: 60px;
  margin: 20px 800px 0px 0px;
}

.location-column {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  max-width: 800px;
  padding: 10px;
  margin-top: 100px;
}

.store1 {
  grid-column: 1;
  grid-row: 1;
}

.store2 {
  grid-column: 2;
  grid-row: 1; 
}

/* Image Grids */
.img-grids {
  display: grid;
  grid-gap: 34px 10px;
  grid-template-columns: auto auto;
  max-width: 800px;
  padding: 10px;
}

.grid1 {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  text-align: right;
}

.grid2 {
  grid-column: 2;
  grid-row: 1;
  position: relative;
}

.grid3 {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  text-align: right;
}

.grid4 {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.grid5 {
  display: inline-block;
  grid-column: 1;
  grid-row: 3;
  position: relative;
  text-align: right;
}

.imgs {
  height: 200px;
}

span {
  bottom: -23px;
  position: absolute;
  display: block;
  background: rgb(34, 34, 34);
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.5s all;
}

.span1 {
  right: 0px;
  width: 48.5%;
  text-align: right;
}

.span2 {
  width: 60.3%;
  text-align: left;
}

.span3 {
  right: 0px;
  width: 85.8%;
  text-align: right;
}

.span4 {
  width: 84.3%;
  text-align: left;
}

.span5 {
  right: 0px;
  width: 48.3%;
  text-align: right;
}

section:hover span {
  opacity: .5;
}

/* General CSS Styling */
h1 {
  color: black;
  display: inline-block;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5em;
  font-weight: bold;
  margin: 30px 0px 30px 0px;
  min-width: 100px;
  text-shadow: 2px 0.8px rgb(192, 117, 142);
}

h2 {
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: 2em;
  font-weight: bold;
  margin: 40px 0px 20px 0px;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: 1s all;
}

table {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px 0px 0px 0px;
  min-width: 1000px;
  width: auto;
}

thead {
  background-color: rgb(206, 186, 193);
  font-weight: bold;
}

tbody {
  background-color: #ffffff;
}

tr:hover {
  background-color: rgb(230, 230, 230);
}

th, td {
  border: 1px solid rgb(212, 211, 211);
  padding: 3.5px 5px;
  text-align: left;
}

form {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px 0px 0px 0px;
  width: 500px;
}

fieldset {
  display: inline-block;
  width: 480px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 5px 30px 0px 0px;
  padding: 2px 0px;
}

footer {
  background-color: rgb(41, 41, 41);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 40px 0px 0px 0px;
  padding: 10px 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 30px;
}