body {
  margin: 40px 40px;
}

h1 {
  color: black;
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
  text-shadow: 2px 0.8px rgb(241, 155, 184);
}

h2 {
  color: black;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 2em;
  margin: 30px 0px 20px 0px;
}


body > header > nav > ul > li {
  box-align: left;
  background-color: rgb(75, 8, 8);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  list-style-type: none;
  margin: auto;
  padding: 10px;
}

body > header > nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

body > section > table {
  width: auto;
}

thead {
  background-color: rgb(214, 116, 149)

}

th, td {
  padding: 1.5px 5px;
  text-align: left;
}

tbody {
  background-color: #f5f5f5;
}

form {
  width: 500px;
}
fieldset {
  width: 480px;
  display: inline-block;

}